Repository carla-simulator/carla, pull requests merged in 2020-12, with the labels that each got.

#3641 Fixed error when using "--config" in make package
  CHANGELOG.md
  Util/BuildTools/BuildOSM2ODR.sh
  Util/BuildTools/BuildPythonAPI.sh
Labels: bug, build system

#3729 Added docs for map layers control
  Docs/python_api.md
  PythonAPI/docs/client.yml
  PythonAPI/docs/world.yml
Labels: documentation

#3728 Added docs for level object control
  Docs/python_api.md
  PythonAPI/docs/sensor_data.yml
  PythonAPI/docs/world.yml
Labels: documentation

#3738 Fix texture streaming
  Unreal/CarlaUE4/Plugins/Carla/Source/Carla/Sensor/SceneCaptureSensor.cpp
  Unreal/CarlaUE4/Plugins/Carla/Source/Carla/Sensor/Sensor.cpp
  Unreal/CarlaUE4/Plugins/Carla/Source/Carla/Sensor/Sensor.h
Labels: bug
