Repository carla-simulator/carla, pull requests merged in 2020-02, with the labels that each got.

#2385 Joel mb/traffic manager
  CHANGELOG.md
  LibCarla/source/carla/trafficmanager/BatchControlStage.cpp
  LibCarla/source/carla/trafficmanager/CollisionStage.cpp
  LibCarla/source/carla/trafficmanager/CollisionStage.h
  LibCarla/source/carla/trafficmanager/InMemoryMap.cpp
  LibCarla/source/carla/trafficmanager/InMemoryMap.h
  LibCarla/source/carla/trafficmanager/LocalizationStage.cpp
  LibCarla/source/carla/trafficmanager/LocalizationStage.h
  LibCarla/source/carla/trafficmanager/MessengerAndDataTypes.h
  LibCarla/source/carla/trafficmanager/MotionPlannerStage.cpp
  LibCarla/source/carla/trafficmanager/SimpleWaypoint.cpp
  LibCarla/source/carla/trafficmanager/SimpleWaypoint.h
  LibCarla/source/carla/trafficmanager/TrafficLightStage.cpp
  LibCarla/source/carla/trafficmanager/TrafficManager.cpp
  LibCarla/source/carla/trafficmanager/TrafficManager.h
Labels: c++

#2380 Axel1092/extend map api
  CHANGELOG.md
  Docs/python_api.md
  LibCarla/source/carla/client/Junction.cpp
  LibCarla/source/carla/client/Junction.h
  LibCarla/source/carla/client/Map.cpp
  LibCarla/source/carla/client/Map.h
  LibCarla/source/carla/client/Waypoint.cpp
  LibCarla/source/carla/client/Waypoint.h
  LibCarla/source/carla/road/Junction.h
  LibCarla/source/carla/road/Lane.h
  LibCarla/source/carla/road/Map.cpp
  LibCarla/source/carla/road/Map.h
  LibCarla/source/carla/road/MapBuilder.cpp
  LibCarla/source/carla/road/MapBuilder.h
  LibCarla/source/carla/road/MapData.cpp
  LibCarla/source/carla/road/MapData.h
  PythonAPI/carla/source/libcarla/Map.cpp
  PythonAPI/docs/map.yml
  PythonAPI/util/lane_explorer.py
Labels: 0.9.X API, c++, documentation

#2455 Changed weather presets and manual_control.py fixed
  PythonAPI/examples/manual_control.py
  PythonAPI/util/weather.py
Labels: art
