Repository carla-simulator/carla, pull requests merged in 2020-09, with the labels that each got.

#3178 Running Carla when choosing a) deb Carla install
  Docs/start_quickstart.md
Labels: documentation

#3295 Fixed bad_weak_ptr
  LibCarla/source/carla/ThreadPool.h
  LibCarla/source/carla/client/ServerSideSensor.cpp
  LibCarla/source/carla/rpc/Server.h
  LibCarla/source/carla/streaming/detail/tcp/Client.cpp
  LibCarla/source/carla/streaming/detail/tcp/Server.cpp
  LibCarla/source/carla/streaming/detail/tcp/Server.h
  LibCarla/source/carla/streaming/detail/tcp/ServerSession.cpp
  LibCarla/source/carla/streaming/low_level/Client.h
  LibCarla/source/test/server/test_benchmark_streaming.cpp
Labels: bug, c++

#3342 Fixed debug lines with current illumination
  Unreal/CarlaUE4/Plugins/Carla/Source/Carla/Util/DebugShapeDrawer.cpp
Labels: bug

#3344 Added DefaultScalability.ini
  Unreal/CarlaUE4/Config/DefaultScalability.ini
Labels: bug

#3375 Fixing SetSimulatePhysics for pedestrians
  Unreal/CarlaUE4/Plugins/Carla/Source/Carla/Server/CarlaServer.cpp
Labels: bug

#3380 Reinforce collisions in SetSimulatePhysics(true)
  Unreal/CarlaUE4/Plugins/Carla/Source/Carla/Server/CarlaServer.cpp
Labels: bug
